@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}
header,footer{
    height: 50px;
    color: white;
    text-align: center;
    background-color: black;
}
a{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
img{
    height: 607px;
    width: 1349px;
}
#how{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    background-color: darkblue;
    color: white;
}
@media only screen and (max-width: 600px){
    img{
        width: 375px;
        height: 175px;
    }
}